* {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
}

.page-wrapper {
  position: relative;
  background: url(./images/sky.jpg), no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  z-index: -2;
  display: flex;
}

.page-wrapper .cloud {
  position: absolute;
  z-index: -1;
  left: -200px;
  animation: move-cloud 40s linear infinite;
}

.page-wrapper .cloud:nth-child(1) {
  top: 100px;
  opacity: .75;
}

.cloud:nth-child(1) img {
  width: 150px;
  height: 150px;
}

.cloud:nth-child(2) {
  animation-delay: 7s;
  opacity: .5;
  top: 100px;
}

.cloud:nth-child(2) img {
  height: 75px;
  width: 75px;
}

.cloud:nth-child(3) {
  top: 20px;
  animation-delay: 12s;
}

.cloud:nth-child(3) img {
  width: 150px;
  height: 150px;
}

.cloud:nth-child(4) {
  top: 225px;
  animation-delay: 20s;
}

.cloud:nth-child(4) img {
  width: 150px;
  height: 150px;
}

@keyframes move-cloud {
  100% {
    left: 1400px;
  }
}

.page-wrapper .weather-console {
  width: 50%;
  height: 50%;
  margin: auto;
  border-radius: 10px;
  background: transparent;
  text-align: center;
  padding: 20px;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(1px);
  color: lightblue;
  font-size: 32px;
}

.weather-console .console-body {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.console-body .image-container {
  width: 150px;
  height: 150px;
}

.text-container #current-temp {
  font-size: 50px;
  margin: 10px;
  color: rgb(248, 235, 113);
}